In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import calendar as cal
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
874,tt0275847,80000000,145771527,Lilo & Stitch,Chris Sanders|Daveigh Chase|Tia Carrere|David ...,Dean DeBlois|Chris Sanders,He's coming to our galaxy.,A lonely Hawaiian girl named Lilo is being rai...,85,Animation,Walt Disney Pictures|Walt Disney Feature Anima...,6/21/2002,6.9,2002
1854,tt0158622,83000000,59468275,The Flintstones in Viva Rock Vegas,Mark Addy|Stephen Baldwin|Kristen Johnston|Jan...,Brian Levant,Get ready to rock!,The Flintstones are at it again. The Flintston...,90,Science Fiction|Comedy|Family|Romance,Universal Pictures|Amblin Entertainment,4/28/2000,4.4,2000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
109,tt3787590,6000000,11122090,We Are Your Friends,Zac Efron|Emily Ratajkowski|Wes Bentley|Nick R...,Max Joseph,The world is yours.,Young Cole Carter dreams of hitting the big ti...,96,Drama|Music|Romance,Working Title Films,8/26/2015,6.2,2015
624,tt0499448,225000000,419651413,The Chronicles of Narnia: Prince Caspian,Ben Barnes|William Moseley|Anna Popplewell|Ska...,Andrew Adamson,Hope has a new face.,One year after their incredible adventures in ...,150,Adventure|Family|Fantasy,Walt Disney|Walden Media|Stillking Films|Ozumi...,5/15/2008,6.1,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} #словарь для ответов

# Coloumn profit 
data['profit'] = data['revenue'] - data['budget']

# фильтр датасета df по значению value
def filtre_data(df, column, value):
    return df[df[column].str.contains(value, na = False)]

# Месяц (имя) м/д/г
def month(date_str):
    return cal.month_name[int(date_str.split('/')[0])]

# Сезон
def season(date_str):
    m = int(date_str.split('/')[0])
    if  m>=3 and m<=5:
        result = 'spring'
    elif m>= 6 and m <= 8:
        result = 'summer'
    elif m>=9 and m <= 11:
        result = 'autumn'
    else:
        result = 'winter'
    return result


#the time given in the dataset is in string format.

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# +
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:

data[data['budget'] == data['budget'].max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

data.sort_values(by = 'budget', ascending=False).head(1)['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
#+

answers['2'] = 'Gods and Generals'

In [9]:
# решение:

data[data.runtime == data.runtime.max()]['original_title'].values[0]

# второй вариант:

data.sort_values(by = 'runtime', ascending=False).head(1)['original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
#+

answers['3'] = 'Winnie the Pooh'

In [11]:
#решение

data[data.runtime == data.runtime.min()]['original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
# +
answers['4'] = '110'

In [13]:
#решение

round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
# +

answers['5'] = '107'

In [15]:
#решение

round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# +

#profit (Предобработка)
answers['6'] = 'Avatar'

In [17]:
#решение

data[data.profit == data.profit.max()]['original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
# +

answers['7'] = 'The Lone Ranger'

In [19]:
#решение

data[data.profit == data.profit.min()]['original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
# +

answers['8'] = '1478'

In [21]:
#решение

data.query('profit > 0').imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
# +

answers['9'] = 'The Dark Knight'

In [23]:
#решение

data[data.release_year == 2008].sort_values(by = 'revenue', ascending=False).head(1)['original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
# +
answers['10'] = 'The Lone Ranger'

In [25]:
#решение

(data.query('release_year >= 2012 & release_year <=2014')
             .sort_values(by = 'profit', ascending = True)
             .head(1)['original_title'].values[0])

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [26]:
#+
answers['11'] = 'Drama, 782'

In [27]:
#решение
all_genres = Counter() 

for i in data.genres.values:
    all_genres.update(i.split('|'))

all_genres.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [28]:
#решение

data['list_genres'] = data.genres.apply(lambda x: x.split('|'))
data_genres = data.explode('list_genres')

data_genres.list_genres.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
# +
answers['12'] = 'Drama'

In [30]:
#решение

data_genres[data_genres.profit > 0].list_genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
#+
answers['13'] = 'Peter Jackson'

In [32]:
# решение

data['list_director'] = data.director.apply(lambda x: x.split('|'))

data_director = data.explode('list_director')
    
data_director.groupby('list_director').sum().revenue.sort_values(ascending = False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
# +

answers['14'] = 'Robert Rodriguez'

In [34]:
#решение

filtre_data(data_director, 'genres', 'Action').list_director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
# +

answers['15'] = 'Chris Hemsworth'

In [36]:
#решение

data['actor_list'] = data.cast.apply(lambda x: x.split('|'))

data_actor = data.explode('actor_list')
    
(data_actor.query('release_year == 2012').groupby('actor_list').sum()
                 .revenue.sort_values(ascending = False).index[0])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
# +

answers['16'] = 'Matt Damon'

In [38]:
#решение

data_actor[data_actor.budget > data_actor.budget.mean()].actor_list.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
# +

answers['17'] = 'Action'

In [40]:
#решение

filtre_data(data_genres, 'cast', 'Nicolas Cage').list_genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
# +

answers['18'] = 'K-19: The Widowmaker'

In [42]:
#решение

data_paramount = filtre_data(data, 'production_companies', 'Paramount Pictures')

data_paramount[data_paramount.profit == data_paramount.profit.min()].original_title.iloc[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
# +

answers['19'] = '2015'

In [44]:
#решение

data.groupby(['release_year']).sum().revenue.sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
#+

answers['20'] = '2014'

In [46]:
# решение

data_wb = filtre_data(data, 'production_companies', 'Warner Bros')

data_wb.groupby(['release_year']).sum().profit.sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
#+

answers['21'] = 'September'

In [48]:
# решение
# month (Предобработка)

data['release_month'] = data.release_date.apply(month)

data.release_month.value_counts().index[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
# +

answers['22'] = '450'

In [50]:
# решение
# season(Предобработка)

data['season'] = data.release_date.apply(season)

data.season.value_counts()['summer']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
# +

answers['23'] = 'Peter Jackson'

In [52]:
#решение

data_director['season'] = data['season']

pivot = data_director.pivot_table(values=['imdb_id'],
index=['list_director'],
columns=['season'],
aggfunc='count',
fill_value=0)

pivot.groupby('list_director').sum()['imdb_id', 'winter'].sort_values(ascending = False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
# +

answers['24'] = 'Four By Two Productions'

In [54]:
#решение

data['companies'] = data.production_companies.apply(lambda x: x.split('|'))

data_comp = data.explode('companies')
data_comp['title_length'] = data.original_title.apply(len)

data_comp.groupby('companies').mean().title_length.sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
# +

answers['25'] = 'Midnight Picture Show'

In [56]:
#решение

data_comp['words_count'] = data_comp.overview.apply(lambda x: len(x.split()))

data_comp.groupby('companies').mean().words_count.sort_values(ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
# +

answers['26'] = 'Inside Out', 'The Dark Knight', '12 Years a Slave'

In [58]:
q = data.quantile(q = 0.99)['vote_average']
best = data[data.vote_average > q]['original_title']

x1 = 'Inside Out,The Dark Knight,12 Years a Slave'.split(',')
x2 = 'BloodRayne,The Adventures of Rocky & Bullwinkle'.split(',')
x3 = 'Batman Begins,The Lord of the Rings: The Return of the King,Upside Down'.split(',')
x4 = '300,Lucky Number Slevin,Kill Bill: Vol. 1'.split(',')
x5 = 'Upside Down,Inside Out,Iron Man'.split(',')

xs = [x1, x2, x3, x4, x5]
right = []

for i in xs:   
    for j in i:        
        if not (j in best.values):
            break
    else:
        right.append(i)
        
right[0]

['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [59]:
# в конце можно посмотреть свои ответы к каждому вопросу
# +

answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

In [60]:
#решение

all_pairs = Counter()

for i in data.cast.values:
    all_pairs.update(combinations(i.split('|'), 2))

all_pairs.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [61]:
len(answers)

27